@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.chewy{
    font-family: "Chewy", system-ui;
}
.bg-sec{
    background-color: #0A4740;
}
  .font-Balsamiq{
    font-family: "Balsamiq Sans", sans-serif;
  }